.git
.venv
__pycache__
*.pyc
*.pyo
.env
ecommerce_db/olist-dataset
data/warehouse
orchestration
pipeline/dbt
!pipeline/dbt
pipeline/dbt/target
pipeline/dbt/logs
pipeline/dbt/dbt_packages
reports
prefect.yaml
OPENCODE.txt
images
docs
*.md
!README.md
.dockerignore
.gitignore
.python-version
